$primary: white;
$bg: lightgray;
$success: #84cc16;
$failure: #ef4444;
$neutral: #8b5cf6;
$darkergray: #6b7280;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.btn {
   cursor: pointer;
   padding: 0.5em 1.5em;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-weight: 600;
   font-size: 1rem;
   width: 100%;
   border: none;
}
label, h3 {
    font-size: 1.05rem;
    font-weight: 400;
}
.failure-color {
    background-color: $failure
}
.success-color {
    background-color: $success;
}
.neutral-btn {
    background-color: $bg;
}
.hide {
    opacity: 0;
    top: -1000px;
    left: -1000px;
}
.lower-opacity {
    opacity: 0.5;
}
.show {
    opacity: 1;
    top: 160px;
    left: 0; 
    right: 0; 
}
body {
    background-color: $bg;
}
.container {
    display: grid;
    header {
        display: flex;
        background-color: $primary;
        align-items: center;
        justify-content: space-between;
        padding: 1em 20vw;
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
        h1 {
            font-family: 'Oswald', sans-serif;
        }
        .info {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            .info-box {
                box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.05);
                padding: 1em 2em;
                background-color: $bg;
            }
        }
    }
    .main {
        padding: 4em 20vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $bg;
        position: relative;
        .addButton {
            box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.05);
            background-color: $neutral;
            padding: 1em 3em;
            text-align: center;
            margin-inline: auto;
            color: $primary;
            cursor: pointer;
            margin-bottom: 2em;
            font-weight: 600;
        }
        .main-cards {
            align-items: center;
            justify-content: center;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
            gap: 32px;
            .card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 16px;
                background-color: $primary;
                padding: 1em 2em;
                box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.05);
            }
        }
    }
}

.addButtonForm {
    height: auto;
    padding: 1em 3em;
    width: 350px;
    margin-inline: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: absolute;
    margin-left: auto; 
    margin-right: auto; 
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.05);
    select {
        padding: 0.5em 1em;
        border: none;
        outline: 1px solid $darkergray;
        background-color: $primary;
    }
    select:disabled {
        background-color: $bg;
    }
    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 16px;
    }
    label {
        margin-bottom: 0.25em;
    }
    .form-input {
        display: flex;
        flex-direction: column;
    }
    .form-buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    input {
        border: none;
        outline: 1px solid $darkergray;
        padding: 0.5em 1em;
    }
}


@media screen and (max-width: 1100px) {
    header {
        flex-direction: column;
    }
  }